@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 50px;
  padding-top: 1em;
  & > .main-content {
    min-height: 400px;
  }
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  margin-top: -1em;
  background: url('/images/bg.jpg') no-repeat left center;
  min-height: 20em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5;
}

.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72;
}

.header > .navbar {
  background-color: #011a72!important;
}

.search-input-group{
  margin: 1em 0;
  width: 100%;
  position: relative;
  input { 
    border-radius: 2em;
    padding-left: 2.5em;
    width: 100%!important;
  }
  i {
    font-size: 1.3em;
    top: 0.4em;
    left: 0.5em;
    color: #bababa;
    position: absolute;
  }

} 
