.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="What's your question?", value=question.title)
.form-group
  label(for="question") Question
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for="img") Image
  input#file.form-control(type="file")
  input#url.form-control(type="text", readonly="readonly", name="img", value="")
  img#preview.img-fluid(src="https://dummyimage.com/200x200/ccc/fff")

script.
  $(function() {
    $("#preview").hide();
    $("#file").change(function() {
      var file = $("#file")[0].files[0];
      if (file) {
        var url = "/s3?filename=" + encodeURIComponent(file.name) + 
                  "&type=" + encodeURIComponent(file.type);
        console.log(url);
        $.getJSON(url, function(resp) {
          console.log(resp.signedRequest);
          $.ajax({
            url: resp.signedRequest,
            method: 'PUT',
            data: file,
            headers: {'x-amz-acl': 'public-read', 'Content-Type': file.type},
            processData: false, 
            contentType: file.type,
            success: function() {
              $("#preview").attr("src", resp.url).show();
              $("#url").val(resp.url);
            }
          });
        });
      }
    });
  });

