extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 수업을 위해서 sample로 만들어보는 것입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 질문글 등록/보기/변경/삭제
          li 답변글 등록/삭제
          li 사용자 관리/인증
          li API

