#main {
  .spinner {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;

    .background {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .foreground {
      width: 100%;
      height: 100%;
      position: fixed;
      text-align: center;
      top: 50%;
      margin-top: -25px;
      z-index: 2001;
      color: #fff;
    }
  }

  &.loading {
    .spinner {
      display: block;
    }
  }
}
