h3 완료여부
.section.priority 
  a(data-value='completed').selected 완료
  a(data-value='uncompleted').selected 미완료
  a(data-value='all').all 전체

h3 마감
.section.deadline 
  a(data-value='past') 과거
  a(data-value='today').selected 오늘
  a(data-value='week') 이번주
  a(data-value='month') 이번달
  a(data-value='all').all 전체
  
h3 중요도
.section.priority 
  a(data-value='3').selected 중요
  a(data-value='2') 보통
  a(data-value='1') 사소
  a(data-value='all').all 전체

  
h3 분류
.section.categories
  each category in categories
    a(data-value='text').selected= category
  a(data-value='none').selected <분류없음>
  a(data-value='all').all 전체
