h3 완료여부
section.options.done 
  a(data-value='true').option 완료
  a(data-value='false').option 미완료
  a(data-value='all').all 전체

h3 중요도
section.options.priority 
  a(data-value='3').option 중요
  a(data-value='2').option 보통
  a(data-value='1').option 사소
  a(data-value='all').all 전체

h3 분류
section.options.category
  a(data-value='개인').option 개인
  a(data-value='가족').option 가족
  a(data-value='업무').option 업무
  a(data-value='기타').option 기타
  a(data-value='all').all 전체
