extends ../layout

block content
  .container
    h1.main-title Edit Question
    form(action=`/questions/${question.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-primary(type="submit") Update Your Question
