extends layout

block content
  .container
    form.form-signin(action='/signin', method='POST')
      label(for='inputEmail', class='sr-only') Email address
      input(
        type='email', id='inputEmail', class='form-control', 
        placeholder='Email address', required, autofocus
      )
      label(for='inputPassword', class='sr-only') Password
      input(
        type='password', id='inputPassword', class='form-control', 
        placeholder='Password', required, autofocus
      )
      .checkbox
        label
          input(type='checkbox' value='remember-me') 
          | 로그인 유지
      button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
      hr
      a.btn.btn-default.btn-mini(href='/signup') 회원가입
      | 
      a.btn.btn-default.btn-mini(href='/reset-password') 비밀번호 재설정
      
