extends layout

block content
  ul#messages
  form
    input#name(type='text', readonly=true, placeholder='name')
    input#m(type='text', autocomplete='off', placeholder='type message')
    button Send
  script#template(type='text/template').
    <li class='<%= type%>'>
      <span class='name'><%= from%></span>
      <span class='text'><%= message %></span>
      <div class='clearfix'></div>
    </li>
    
